
src/.vs/WebApplication2/v17/.suo
src/.vs/WebApplication2/FileContentIndex/eafcb284-d7de-43b1-b3f6-b275cd7a3eb6.vsidx
src/.vs/ProjectEvaluation/webapplication2.metadata.v7.bin
src/.vs/ProjectEvaluation/webapplication2.projects.v7.bin
src/.vs/WebApplication2/DesignTimeBuild/.dtbcache.v2
src/.vs/WebApplication2/FileContentIndex/64c05048-4e4c-40e6-af54-c6eaafa6d8c6.vsidx
src/.vs/WebApplication2/FileContentIndex/aa71d472-f427-4c6c-8814-b87b12762700.vsidx
src/.vs/WebApplication2/FileContentIndex/eafcb284-d7de-43b1-b3f6-b275cd7a3eb6.vsidx
src/.vs/WebApplication2/v17/.futdcache.v2
src/.vs/WebApplication2/v17/.suo
