@model EassyDental.Models.UsuarioDentista

@{
    ViewData["Title"] = "Create UsuarioDentista";
}

<section class="vh-100">
    <div class="container-fluid">
        <div class="row">
           <div class="col-sm-6 col-md-4 mx-auto text-black"> <!-- Adicione classes de grid e mx-auto -->
    <div class="d-flex align-items-center h-custom-2 px-2 ms-xl-4 mt-1 pt-4 pt-xl-0 mt-xl-n5">
        <form asp-action="Create" style="width: 23rem;">
                    
                        <h3 class="fw-normal mb-1 pb-2" style="letter-spacing: 1px;">Cadastro Dentista</h3>

                        <div class="form-outline mb-1 form-floating">
                            <input asp-for="Name" class="form-control" />
                            <label for="Name" class="form-label">Nome</label>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-1 form-floating">
                            <input asp-for="Telefone" class="form-control" />
                            <label for="Telefone" class="form-label">Telefone</label>
                            <span asp-validation-for="Telefone" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-1 form-floating">
                            <input asp-for="Email" class="form-control" />
                            <label for="Email" class="form-label">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-1 form-floating">
                            <input asp-for="CRO" class="form-control" />
                            <label for="CRO" class="form-label">CRO</label>
                            <span asp-validation-for="CRO" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-1 form-floating">
                            <input asp-for="Especialidade" class="form-control" />
                            <label for="Especialidade" class="form-label">Especialidade</label>
                            <span asp-validation-for="Especialidade" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-1 form-floating">
                            <input asp-for="Nome_da_clinica" class="form-control" />
                            <label for="Nome_da_clinica" class="form-label">Nome da Clínica</label>
                            <span asp-validation-for="Nome_da_clinica" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-1 form-floating">
                            <input asp-for="Endereço" class="form-control" />
                            <label for="Endereço" class="form-label">Endereço</label>
                            <span asp-validation-for="Endereço" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-1 form-floating">
                            <input asp-for="FotoFileName" class="form-control" />
                            <label for="FotoFileName" class="form-label">Nome do Arquivo da Foto</label>
                            <span asp-validation-for="FotoFileName" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-1 form-floating">
                            <input asp-for="HorarioAtendimentoInicio" class="form-control" />
                            <label for="HorarioAtendimentoInicio" class="form-label">Horário de Atendimento de Início</label>
                            <span asp-validation-for="HorarioAtendimentoInicio" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-1 form-floating">
                            <input asp-for="HorarioAtendimentoFim" class="form-control" />
                            <label for="HorarioAtendimentoFim" class="form-label">Horário de Atendimento de Fim</label>
                            <span asp-validation-for="HorarioAtendimentoFim" class="text-danger"></span>
                        </div>
                        <div class="form-outline mb-1 form-floating">
                            <input asp-for="Senha" class="form-control" />
                            <label for="Senha" class="form-label">Senha</label>
                            <span asp-validation-for="Senha" class="text-danger"></span>
                        </div>



                        <div class="pt-1 mb-1" >
                            <button class="btn btn-info btn-lg  btn-block" style="background-color: #a8966f; color:white; border: none;" type="submit">Cadastrar</button>
                        </div>
                        <p class="small mb-1 pb-lg-1s"><a class="text-muted" href="@Url.Action("Create", "UsuarioClientes")">Cadastro Paciente</a></p>
                        <p class="small mb-0 pb-lg-2"><a class="text-muted" href="@Url.Action("Login", "UsuarioClientes")">Login</a></p>
                    </form>
                </div>
            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block">
                <img src="https://img.freepik.com/fotos-gratis/close-up-de-um-feliz-macho-odontologo-olhando-camera_23-2147862093.jpg?w=740&t=st=1698751159~exp=1698751759~hmac=cddf792721b5ef46e87025fbfe30ca84349d8d4c435f70d283b5115efcfb154d"
                     alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
            </div>
        </div>
    </div>
</section>
