@using System.Security.Claims;
@model EassyDental.Models.AgendaEvento

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AgendaEvento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-id="@Model.Id" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UsuarioClienteId" />
            <input type="hidden" asp-for="UsuarioDentistaId" />
            <div class="form-group">
                <label asp-for="HorarioConsulta" class="control-label"></label>
                <input asp-for="HorarioConsulta" class="form-control" />
                <span asp-validation-for="HorarioConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (User.IsInRole("Dentista"))
    {
        <a asp-action="IndexEventos" asp-controller="UsuarioDentistas" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier).Value">Back to List</a>
    }
    @if (User.IsInRole("Cliente"))
    {
        <a asp-action="IndexEventos" asp-controller="UsuarioClientes" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier).Value">Back to List</a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
