@using System.Security.Claims;
@model EassyDental.Models.AgendaEvento

@{
    ViewData["Title"] = "Editar consulta";
}

<h1>Editar consulta</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-id="@Model.Id" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UsuarioClienteId" />
            <input type="hidden" asp-for="UsuarioDentistaId" />

            <div class="form-outline form-floating mb-3">
                <input asp-for="HorarioConsulta" class="form-control" />
                <label for="HorarioConsulta" class="form-label">Horário agendado</label>
                <span asp-validation-for="HorarioConsulta" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="d-flex justify-content-end">
    @if (User.IsInRole("Dentista"))
    {
        <form asp-action="IndexEventos" asp-controller="UsuarioDentistas" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier).Value" method="get">
            <input type="submit" value="Voltar" class="btn" style="background-color: #a8966f; color: white;" />
        </form>
    }
    @if (User.IsInRole("Cliente"))
    {
        <form asp-action="IndexEventos" asp-controller="UsuarioClientes" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier).Value" method="get">
            <input type="submit" value="Voltar" class="btn" style="background-color: #a8966f; color: white;" />
        </form>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
