html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* Estilos para o footer */
footer {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    text-align: left; /* Centraliza o conteúdo no footer */
}

